@import "../../../settings/_variables.css";

#seasons span.heading {
  font-size: 16px;
  padding: 0 17px;
  font-weight: 500;
}

#seasons .season-list .slick-list {
  padding-left: 17px !important;
}

#seasons .season-thumb-container img {
  border-radius: 5px;
}

#seasons .season-thumb-container .meta-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(25, 33, 51, 0)),
    color-stop(80%, rgba(25, 33, 51, 0.8)),
    to(var(--BG_COLOR_L1))
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(25, 33, 51, 0),
    rgba(25, 33, 51, 0.8) 80%,
    var(--BG_COLOR_L1) 100%
  );
  background-image: -o-linear-gradient(
    top,
    rgba(25, 33, 51, 0),
    rgba(25, 33, 51, 0.8) 80%,
    var(--BG_COLOR_L1) 100%
  );
  background-image: linear-gradient(
    to bottom,
    rgba(25, 33, 51, 0),
    rgba(25, 33, 51, 0.8) 80%,
    var(--BG_COLOR_L1) 100%
  );
}

#seasons .season-thumb-container .meta-desc .season-number,
#seasons .season-thumb-container .meta-desc .episode-number {
  font-size: 14px;
  display: block;
  font-weight: 500;
}

@media screen and (min-width: 1920px) {
  #seasons span.heading {
    font-size: 28px;
    padding: 0 1.8em;
  }

  #seasons .season-list .slick-list {
    padding-left: 5em !important;
  }
}
