@import "../../../settings/_variables.css";

#hero {
  width: 100%;
}

#hero .hero-container img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

#hero .hero-container .details {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#hero .hero-container .details .action .season-episode i.bx-play {
  font-size: 3.5em;
  opacity: 0.8;
}

#hero .hero-container .details .action .season-episode span {
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  opacity: 0.8;
  letter-spacing: 0.3px;
  text-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

@media screen and (min-width: 768px) {
  #hero {
    padding: 0 16px;
  }
}

@media screen and (min-width: 992px) {
  #hero {
    width: 100%;
    padding: 0 17px;
  }

  #hero .hero-container {
    position: relative;
    text-align: right;
  }

  #hero .hero-container img {
    width: 800px;
    height: auto;
    display: inline;
  }

  #hero .hero-container .hero-overlay {
    background: linear-gradient(90deg, #030b18 22%, rgba(4, 11, 24, 0));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #hero .hero-container .details {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5em 2em 5em 4em;
  }

  #hero .hero-container .details .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #hero .hero-container .details .data-container {
    width: 50%;
  }

  #hero .hero-container .details .data-container .title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 12px;
    margin-top: 2px;
    color: var(--TEXT_COLOR_L0);
    display: block;
  }

  #hero .hero-container .details .data-container .data {
    font-size: 16px;
    font-weight: 500;
    color: var(--TEXT_COLOR_L2);
    margin-bottom: 12px;
    display: block;
  }

  #hero .hero-container .details .data-container .overview {
    color: var(--TEXT_COLOR_L1);
    white-space: normal;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    max-height: 400px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 1.45;
  }

  #hero .hero-container .details .action .season-episode i.bx-play {
    font-size: 4.5em;
  }

  #hero .hero-container .details .action .season-episode span {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.75;
  }

  #hero .hero-container .details .action .add-share i.bx-plus {
    font-size: 3.5em;
  }

  #hero .hero-container .details .action .add-share i.bxs-share-alt {
    font-size: 2.8em;
  }

  #hero .hero-container .details .action .add-share span {
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    white-space: initial;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1200px) {
  #hero .hero-container img {
    border-radius: 5px;
  }

  #hero .hero-container .hero-overlay {
    background: linear-gradient(90deg, #030b18 35%, rgba(4, 11, 24, 0));
    border-radius: 5px;
  }

  #hero .hero-container .details .action {
    width: 50%;
  }

  #hero .hero-container .details .data-container {
    width: 48%;
  }
}

@media screen and (min-width: 1400px) {
  #hero {
    padding: 0 5em;
  }

  #hero .hero-container img {
    width: 720px;
    height: 400px;
  }

  #hero .hero-container .hero-overlay {
    background: linear-gradient(90deg, #030b18 45%, rgba(4, 11, 24, 0));
  }

  #hero .hero-container .details .data-container {
    width: 45%;
  }
}

@media screen and (min-width: 1600px) {
  #hero .hero-container img {
    width: 832px;
    height: 468px;
  }

  #hero .hero-container .details .data-container .title {
    font-size: 32px;
  }

  #hero .hero-container .details .data-container .data {
    font-size: 18px;
  }

  #hero .hero-container .details .data-container .overview {
    font-size: 18px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 1920px) {
  #hero {
    padding: 0 5em;
  }

  #hero .hero-container img {
    width: 998px;
    height: 562px;
  }

  #hero .hero-container .details .data-container .title {
    font-size: 38px;
  }

  #hero .hero-container .details .data-container .data {
    font-size: 22px;
  }

  #hero .hero-container .details .data-container .overview {
    font-size: 22px;
  }

  #hero .hero-container .details .action .season-episode i.bx-play {
    font-size: 6em;
  }

  #hero .hero-container .details .action .season-episode span {
    font-size: 20px;
  }

  #hero .hero-container .details .action .add-share i.bx-plus {
    font-size: 3.4em;
  }

  #hero .hero-container .details .action .add-share i.bxs-share-alt {
    font-size: 2.6em;
  }

  #hero .hero-container .details {
    padding-left: 5em;
  }
}
